# Ejecutables finales
app-cliente_nd
app-cliente_dist
benchmark-get_nd
benchmark-get_dist
app-cliente
clavesRPC_server
app-concurrencia

# Objetos de compilación
*.o
src/*.o

# Librerías dinámicas
*.so

# Archivos de sistema o de editores
.DS_Store
.vscode/
*.swp

# Artefactos de depuracion y logs
*.dSYM/
*.log